a {
    color:black;
    text-decoration:none;
}
h1 {
    font-size:40px;
    text-align:center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
}
ol {
    border-right:1px solid gray;
    width:100px;
    margin:0;
    padding:20px;
}
#grid {
    display:grid;
    grid-template-columns: 150px 1fr;
    border-bottom:1px solid gray;
}
#grid ol {
    padding-left:33px;
}
#grid #article {
    padding-top:20px;
    padding-left:25px;
    padding-bottom:20px;
}
#copyright {
    padding-bottom:0;
    text-align:center;
}
@media(max-width:800px) {
    #grid {
       display : block;
    }
    ol {
        border-right:none;
        width:100px;
        margin:0;
        padding:20px;
     }
    h1 {
        border-bottom:none;
    }
}